<section id="films">
  <h2>Lista de filmes</h2>

  <% @films.each do |film| %>
    <div>
      <%= link_to film.title, film %>
    </div>
  <% end %>

  <br/>
  <%= link_to("Voltar", root_path) %>

</section>